.card img{
position: absolute; 
bottom : 0;
height: 75%;
width: 100%;
object-fit: cover;
opacity: 1;
}

.card {
	background:#0d47a1;
	padding-top:75%;
	width:100%;
	position:relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-transition: 0.2s ease-in;
    -moz-transition:  0.2s ease-in;
    -o-transition:  0.2s ease-in;
    transition:  0.2s ease-in;
	font-family: 'Roboto', sans-serif;
	
}
.card:hover {
	box-shadow: 0 6px 10px rgba(0,0,0,0.2), 0 6px 10px rgba(0,0,0,0.3);
	cursor : pointer;
}

.card #cardType {
	padding: 0.1em;
	color : white;
	width : 100%;
	position:absolute;
	top: 0;
	text-align: center;
}

.card #bottomBar{
	background : white; 
	position : absolute; 
	bottom : 0; 
	height : 20%; 
	width : 100%; 
	
}

.card #title {
	padding : 0.1em;
	color : white;
	width : 100%;
	text-align: center;
	position:absolute;
	top: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	font-family: 'Roboto', sans-serif;
}

.card.collapse img{
position: absolute; 
right : 0;
bottom : 0;
height: 100%;
width: 20%;
object-fit: cover;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 0.25s;
}

.card.collapse{
	display : block;
	padding-top:20%;
	width:100%;
	position:relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card.collapse #cardType {
	padding: 0.1em;
	width : 100%;
	position:absolute;
	top: 0;
	text-align : left	 ;
}

.card.collapse #bottomBar{
	background : white; 
	position : absolute; 
	bottom : 0; 
	height : 0%; 
	width : 100%; 
}

.card.collapse #title {
	padding : 0.1em;
	color : white;
	width : 100%;
	position:absolute;
	right : 20%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}